{
  "presets": [
    ["@vue/app", {
      "modules": false,
      "useBuiltIns": false
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "extensions": [".js", ".vue", ".json"]
    }]
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
